.TodoCounter{
    font-size: 25px;
    text-align: center;
    
}

.Titulo{
    font-size: 45px;
    text-align: center;
    font-family: 'Montserrat';
}

.Buscador{
    font-size: 20px;
    font-family: 'Quicksand';
    font-weight: bold;
    width: 300px;
    height: auto;
    border: none;
    background-color: rgb(224, 224, 224);
    padding: 15px 25px;
    border-radius: 45px;
}

.TodoItem{
    background-color: rgb(238, 238, 238);
    margin-bottom: 15px;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 20px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TodoItem-p--complete {
    text-decoration: line-through;
  }

.Lista{
    list-style: none;
    padding-left: 0px;
    width: 300px;
    margin-left: 10px;
}

.Boton{
    padding: 15px 23px;
    background-color: #92c6f7;
    border: none;
    font-weight: bolder;
    font-size: 30px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 10px;
    transition: 400ms ease-in-out;
    position: relative;
    bottom: 0;
    transform: rotate(0);
}

.Boton:hover{
    padding: 15px 23px;
    background-color: #b992f7;
    cursor: pointer;
    font-size: 30px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.212);
    cursor: pointer;
    transform: rotate(224deg);
}

.Eliminar{
    border-radius: 50%;
    background-color: none;
    padding: 5px 11px;
    color: #b6b6b6;
    color: #b6b6b6;
    border: #b6b6b6 2px solid;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    left: 12px;
    transition: 300ms ease-in-out;
}

.Eliminar:hover {
    background-color: #4c97f0;
    border: #4c97f0 2px solid;
    color: white;
  }

.Icon{
    border-radius: 50%;
    padding: 5px 10px;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 12px;
}

.Icon-check{
    color: #b6b6b6;
    border: #b6b6b6 2px solid;
    
}

.Icon-check--active{
    background-color: #6aeb9b;
    border: #6aeb9b 2px solid;
    color: white;
}

.modalBackground{
    background: rgba(32,35,41,.8);
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 0;
}

.formulario{
    background-color: #fff;
    font-family: 'Montserrat';
    padding: 25px 30px;
    border-radius: 5px;
}

.tituloForm{
    font-family: 'Quicksand';
    color: black;
    font-size: 28px;
    font-weight: bold;
    margin: 0px;
    text-align: center;
    margin-bottom: 35px;
}

.textArea{
    font-family: 'Montserrat';
    width: 100%;
    font-size: 18px;
}

.textArea:focus{
    outline-color: #92c6f7;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.075);
}

.buttonContainer {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

.btnCancelar{
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding: 5px 8px;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
}

.btnGuardar{
    background-color: #92c6f7;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    padding: 5px 8px;
    cursor: pointer;
    display: inline-block;
    transition: 400ms ease-in-out;
}

.btnGuardar:hover{
    background-color: #b992f7;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.212);
}

